<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiaps.mapper.system.SysUserAcknowledgmentMapper">
    <select id="selectByUserAndVersion" resultType="com.aiaps.domain.system.SysUserAcknowledgment">
        SELECT * FROM sys_user_acknowledgment WHERE user_id = #{userId} AND version_id = #{versionId}
    </select>
</mapper>
