<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiaps.mapper.aps.ApsChangeLogMapper">

    <select id="selectByRelated" resultType="com.aiaps.domain.aps.ApsChangeLog">
        SELECT *
        FROM aps_change_log
        WHERE related_id = #{relatedId}
          AND change_scope = #{scope}
        ORDER BY changed_time DESC
    </select>

</mapper>
