<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiaps.mapper.aps.ApsFurnaceChargeLayerMapper">

    <select id="selectByChargeId" resultType="com.aiaps.domain.aps.ApsFurnaceChargeLayer">
        SELECT *
        FROM aps_furnace_charge_layer
        WHERE charge_id = #{chargeId}
        ORDER BY layer_no
    </select>

</mapper>
