<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiaps.mapper.aps.ApsScheduleSnapshotDetailMapper">

    <select id="selectBySnapshotId" resultType="com.aiaps.domain.aps.ApsScheduleSnapshotDetail">
        SELECT *
        FROM aps_schedule_snapshot_detail
        WHERE snapshot_id = #{snapshotId}
        ORDER BY detail_id
    </select>

</mapper>
