<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiaps.mapper.base.BasOriginExchangeGroupMapper">

    <select id="isInSameGroup" resultType="boolean">
        SELECT CASE WHEN COUNT(*) &gt; 0 THEN 1 ELSE 0 END
        FROM bas_origin_exchange_member m1
        INNER JOIN bas_origin_exchange_member m2
            ON m1.group_id = m2.group_id
        WHERE m1.origin_code = #{origin1}
          AND m2.origin_code = #{origin2}
    </select>

</mapper>
