<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiaps.mapper.base.BasPltcmConfigMapper">

    <select id="selectByWcId" resultType="com.aiaps.domain.base.BasPltcmConfig">
        SELECT *
        FROM bas_pltcm_config
        WHERE wc_id = #{wcId}
        LIMIT 1
    </select>

</mapper>
