<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiaps.mapper.base.BasSwapCostParamMapper">
    <select id="selectByWcId" resultType="com.aiaps.domain.base.BasSwapCostParam">
        SELECT * FROM bas_swap_cost_param
        WHERE wc_id = #{wcId}
        LIMIT 1
    </select>
</mapper>
